.vscode/settings.json

master/.vagrant/machines/master/virtualbox/action_provision
master/.vagrant/machines/master/virtualbox/action_set_name
master/.vagrant/machines/master/virtualbox/box_meta
master/.vagrant/machines/master/virtualbox/creator_uid
master/.vagrant/machines/master/virtualbox/id
master/.vagrant/machines/master/virtualbox/index_uuid
master/.vagrant/machines/master/virtualbox/synced_folders
master/.vagrant/machines/master/virtualbox/vagrant_cwd
master/.vagrant/rgloader/loader.rb
master/ubuntu-bionic-18.04-cloudimg-console.log

slave1/ubuntu-bionic-18.04-cloudimg-console.log
slave1/.vagrant/machines/vm-dist1/virtualbox/action_provision
slave1/.vagrant/machines/vm-dist1/virtualbox/action_set_name
slave1/.vagrant/machines/vm-dist1/virtualbox/box_meta
slave1/.vagrant/machines/vm-dist1/virtualbox/creator_uid
slave1/.vagrant/machines/vm-dist1/virtualbox/id
slave1/.vagrant/machines/vm-dist1/virtualbox/index_uuid
slave1/.vagrant/machines/vm-dist1/virtualbox/synced_folders
slave1/.vagrant/machines/vm-dist1/virtualbox/vagrant_cwd
slave1/.vagrant/rgloader/loader.rb



slave2/ubuntu-bionic-18.04-cloudimg-console.log
slave2/.vagrant/machines/vm-dist2/virtualbox/action_provision
slave2/.vagrant/machines/vm-dist2/virtualbox/action_set_name
slave2/.vagrant/machines/vm-dist2/virtualbox/box_meta
slave2/.vagrant/machines/vm-dist2/virtualbox/creator_uid
slave2/.vagrant/machines/vm-dist2/virtualbox/id
slave2/.vagrant/machines/vm-dist2/virtualbox/index_uuid
slave2/.vagrant/machines/vm-dist2/virtualbox/synced_folders
slave2/.vagrant/machines/vm-dist2/virtualbox/vagrant_cwd
slave2/.vagrant/rgloader/loader.rb
master/.vagrant/machines/master/virtualbox/private_key
slave3/.vagrant/machines/vm-dist3/virtualbox/action_provision
slave3/.vagrant/machines/vm-dist3/virtualbox/action_set_name
slave3/.vagrant/machines/vm-dist3/virtualbox/box_meta
slave3/.vagrant/machines/vm-dist3/virtualbox/creator_uid
slave3/.vagrant/machines/vm-dist3/virtualbox/id
slave3/.vagrant/machines/vm-dist3/virtualbox/index_uuid
slave3/.vagrant/machines/vm-dist3/virtualbox/synced_folders
slave3/.vagrant/rgloader/loader.rb
slave1/.vagrant/machines/vm-dist1/virtualbox/private_key
slave2/.vagrant/machines/vm-dist2/virtualbox/private_key
slave3/.vagrant/machines/vm-dist3/virtualbox/private_key
